@charset "UTF-8";
/**
    @package sunsettheme
 */
/**
  Variables
*/
/**
  @package sunsettheme
 */
/**
  Variables
 */
/**
  Mixins
 */
/**
  @package sunsettheme
 */
/**
  Mixins
 */
/**
  Placeholders
*/
/**
  @package sunsettheme
 */
/**
  Placeholders
 */
.sunset-format-gallery .carousel-control, .sunset-format-image .entry-header, .header-container {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.sunset-format-gallery .entry-header .entry-excerpt.image-caption, .sunset-format-image .entry-excerpt.image-caption {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#80000000",GradientType=0 );
  /* IE6-9 */
}

/**
  Font Icon
*/
/**
  @package sunsettheme
 */
/**
  Font Icon
*/
@font-face {
  font-family: "sunset-icon";
  src: url("../fonts/sunset-icon.eot?dxcjr7");
  src: url("../fonts/sunset-icon.eot?dxcjr7#iefix") format("embedded-opentype"), url("../fonts/sunset-icon.ttf?dxcjr7") format("truetype"), url("../fonts/sunset-icon.woff?dxcjr7") format("woff"), url("../fonts/sunset-icon.svg?dxcjr7#sunset-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.sunset-icon {
  font-family: "sunset-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sunset-audio:before {
  content: "";
}

.sunset-chevron-left:before {
  content: "";
}

.sunset-chevron-right:before {
  content: "";
}

.sunset-close:before {
  content: "";
}

.sunset-comment:before {
  content: "";
}

.sunset-link:before {
  content: "";
}

.sunset-loading:before {
  content: "";
}

.sunset-logo:before {
  content: "";
}

.sunset-menu:before {
  content: "";
}

.sunset-pencil:before {
  content: "";
}

.sunset-pics:before {
  content: "";
}

.sunset-search:before {
  content: "";
}

.sunset-share:before {
  content: "";
}

.sunset-tag:before {
  content: "";
}

.sunset-video:before {
  content: "";
}

/**
  Generic
 */
body {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

a {
  -webkit-transform: color 320ms ease;
  -moz-transition: color 320ms ease;
  -ms-transition: color 320ms ease;
  -o-transition: color 320ms ease;
  transition: color 320ms ease;
}
a:hover, a:focus {
  text-decoration: none;
  color: #333333;
}

.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}
.table .table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/**
  Header
 */
.header-container {
  position: relative;
  display: block;
  height: 326px;
}
.header-container .site-title {
  font-size: 80px;
  color: #ffffff;
  margin: 0;
}
.header-container .site-description {
  font-size: 14px;
  color: #ffffff;
  margin-top: 1em;
}

.nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /**
    Nav Bar
   */
}
.nav-container .navbar-sunset {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0;
  height: auto;
  margin-bottom: 0;
}
.nav-container .navbar-sunset ul {
  float: none;
}
.nav-container .navbar-sunset ul li {
  float: none;
  display: inline-block;
}
.nav-container .navbar-sunset ul li.active a {
  background: none;
  opacity: 1;
}
.nav-container .navbar-sunset ul li.active a:after {
  opacity: 1;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}
.nav-container .navbar-sunset ul li.active a:hover {
  color: #ffffff;
  background: none;
}
.nav-container .navbar-sunset ul li.active a:hover:after {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}
.nav-container .navbar-sunset ul li.open {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
}
.nav-container .navbar-sunset ul li.open:after {
  opacity: 0;
  -webkit-transform: translate(10px);
  -moz-transform: translate(10px);
  -ms-transform: translate(10px);
  -o-transform: translate(10px);
  transform: translate(10px);
}
.nav-container .navbar-sunset ul li.open:hover, .nav-container .navbar-sunset ul li.open:focus, .nav-container .navbar-sunset ul li.open:visited {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-container .navbar-sunset ul li.open:hover:after, .nav-container .navbar-sunset ul li.open:focus:after, .nav-container .navbar-sunset ul li.open:visited:after {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0;
}
.nav-container .navbar-sunset ul li.open .dropdown-toggle {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-container .navbar-sunset ul li.open .dropdown-menu {
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav-container .navbar-sunset ul li.open .dropdown-menu a:hover:after {
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
}
.nav-container .navbar-sunset ul li a {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  opacity: 0.7;
  letter-spacing: 0.05em;
  background: none;
  -webkit-transform: opacity 320ms ease;
  -moz-transition: opacity 320ms ease;
  -ms-transition: opacity 320ms ease;
  -o-transition: opacity 320ms ease;
  transition: opacity 320ms ease;
}
.nav-container .navbar-sunset ul li a:hover, .nav-container .navbar-sunset ul li a:focus, .nav-container .navbar-sunset ul li a:visited {
  color: #ffffff;
  background: none;
  opacity: 1;
}
.nav-container .navbar-sunset ul li a:hover:after, .nav-container .navbar-sunset ul li a:focus:after, .nav-container .navbar-sunset ul li a:visited:after {
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
  opacity: 1;
}
.nav-container .navbar-sunset ul li a:after {
  content: "";
  position: absolute;
  display: block;
  left: 15px;
  right: 15px;
  bottom: 10px;
  height: 2px;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transform: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}

/**
  Standard Post Format
*/
article {
  padding-top: 40px;
  padding-bottom: 40px;
}
article:first-child {
  padding-top: 80px;
}

h1 {
  color: #000000;
  font-size: 48px;
  font-weight: 200;
}
h1.entry-title {
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
h1.entry-title:before, h1.entry-title:after {
  content: "~";
  display: inline-block;
  position: relative;
}
h1.entry-title:before {
  margin-right: 10px;
}
h1.entry-title:after {
  margin-left: 10px;
}
h1 a {
  color: #000000;
}

.entry-meta {
  font-size: 13px;
  font-weight: 300;
  color: #898989;
  margin-bottom: 20px;
}
.entry-meta a {
  font-weight: 500;
  color: #898989;
}
.entry-meta a:hover, .entry-meta a:focus {
  color: #333333;
}

.standard-featured-link {
  display: block;
  position: relative;
}
.standard-featured-link:hover .standard-featured:after, .standard-featured-link:focus .standard-featured:after {
  background-color: rgba(0, 0, 0, 0);
}

.standard-featured {
  height: 330px;
  display: block;
  position: relative;
}
.standard-featured:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 15px rgba(0, 0, 15, 0.35);
  -webkit-transform: background-color 325ms ease;
  -moz-transition: background-color 325ms ease;
  -ms-transition: background-color 325ms ease;
  -o-transition: background-color 325ms ease;
  transition: background-color 325ms ease;
}

.entry-excerpt {
  margin: 30px 0 16px;
}
.entry-excerpt p {
  font-size: 17px;
  line-height: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  text-align: justify;
}

.button-container {
  margin-bottom: 30px;
}

.btn-sunset {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  padding: 8px 12px;
  border-radius: 0;
  border: 1px solid #898989;
  background-color: transparent;
  -webkit-transform: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
}
.btn-sunset:hover, .btn-sunset:focus {
  color: #ffffff;
  border-color: #333333;
  background-color: #333333;
}

.entry-footer {
  padding: 10px 5px;
  border-bottom: 4px solid #626262;
  color: #898989;
  text-transform: uppercase;
}
.entry-footer a {
  color: #898989;
  display: inline-block;
  font-size: 12px;
}
.entry-footer a:hover, .entry-footer a:focus {
  color: #333333;
}
.entry-footer .tags-list .sunset-icon {
  margin-right: 10px;
}
.entry-footer .tags-list a {
  padding: 0 4px;
}
.entry-footer .comments-link .sunset-icon {
  margin-left: 10px;
}

/**
  Image Post Format
 */
.sunset-format-image .entry-header {
  position: relative;
  color: #ffffff;
  height: 600px;
}
.sunset-format-image h1 {
  color: #ffffff;
  padding-top: 10px;
}
.sunset-format-image h1 a {
  color: #ffffff;
}
.sunset-format-image .entry-meta {
  color: #ffffff;
}
.sunset-format-image .entry-meta a {
  color: #ffffff;
}
.sunset-format-image .entry-excerpt.image-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
}
.sunset-format-image .entry-excerpt.image-caption p {
  text-align: center;
  margin: 40px 0;
  font-size: 14px;
}

/**
  Audio Post Format
 */
.sunset-format-audio h1 {
  font-size: 30px;
}
.sunset-format-audio h1.entry-title {
  display: inline-block;
  margin-right: 20px;
}
.sunset-format-audio h1.entry-title:before, .sunset-format-audio h1.entry-title:after {
  display: none;
}
.sunset-format-audio .entry-meta {
  display: inline-block;
  margin-bottom: 0;
}
.sunset-format-audio .entry-content iframe {
  width: 100%;
  height: 166px;
}

/**
  Video Post Format
 */
.sunset-format-video header h1.entry-title {
  margin-top: 20px;
}

/**
  Gallery Post Format
 */
.sunset-format-gallery .entry-header .entry-excerpt.image-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  -webkit-transform: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.sunset-format-gallery .entry-header .entry-excerpt.image-caption p {
  color: #ffffff;
  text-align: center;
  margin: 40px 0;
  font-size: 14px;
}
.sunset-format-gallery .standard-featured {
  height: 500px;
}
.sunset-format-gallery .standard-featured:after {
  background-color: transparent;
}
.sunset-format-gallery .carousel-control {
  background: none;
  opacity: 1;
  font-size: 30px;
  width: auto;
}
.sunset-format-gallery .carousel-control:hover .preview-container {
  background-color: rgba(0, 0, 0, 0.8);
}
.sunset-format-gallery .carousel-control:hover .preview-container .thumbnail-container {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.sunset-format-gallery .carousel-control.left .preview-container {
  padding-right: 80px;
  border-radius: 0 35.5px 35.5px 0;
}
.sunset-format-gallery .carousel-control.left .preview-container .thumbnail-container {
  right: 1px;
}
.sunset-format-gallery .carousel-control.right .preview-container {
  padding-left: 80px;
  border-radius: 35.5px 0 0 35.5px;
}
.sunset-format-gallery .carousel-control.right .preview-container .thumbnail-container {
  left: 1px;
}
.sunset-format-gallery .carousel-control .preview-container {
  position: relative;
  display: block;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  line-height: 0;
  -webkit-transform: background-color 320ms ease;
  -moz-transition: background-color 320ms ease;
  -ms-transition: background-color 320ms ease;
  -o-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
}
.sunset-format-gallery .carousel-control .preview-container .thumbnail-container {
  position: absolute;
  display: block;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background-color: #999999;
  top: 1px;
  -webkit-transform: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.sunset-format-gallery:hover .entry-excerpt.image-caption {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/**
  Quote Post Format
 */
.sunset-format-quote .quote-content {
  font-size: 42px;
  font-weight: 100;
  line-height: 1.3em;
  letter-spacing: 0.03em;
}
.sunset-format-quote .quote-content:before, .sunset-format-quote .quote-content:after {
  display: inline-block;
  position: relative;
  color: #626262;
}
.sunset-format-quote .quote-content:before {
  content: "”";
}
.sunset-format-quote .quote-content:after {
  content: "„";
}
.sunset-format-quote .quote-author {
  color: #898989;
  font-size: 12px;
  letter-spacing: 0.06em;
}
.sunset-format-quote .quote-author:before, .sunset-format-quote .quote-author:after {
  content: "-";
  display: inline-block;
  position: relative;
}

/**
  Link Post Format
 */
.sunset-format-link h1:before, .sunset-format-link h1:after {
  display: none;
}
.sunset-format-link h1 a {
  display: block;
}
.sunset-format-link h1 a .link-icon {
  display: block;
  color: #ffffff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  line-height: 1;
  padding-top: 10px;
}

/**
  Aside Post Format
 */
.sunset-format-aside .aside-container {
  background-color: rgba(0, 0, 0, 0.075);
  padding-top: 20px;
}
.sunset-format-aside .aside-container .aside-featured {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  margin: 0 auto -20px;
}
.sunset-format-aside .aside-container .entry-meta {
  margin-bottom: 5px;
}
.sunset-format-aside .aside-container .entry-excerpt {
  margin-top: 0;
}
.sunset-format-aside .aside-container .entry-excerpt p {
  font-size: 13px;
}
.sunset-format-aside .aside-container .entry-footer {
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0.05);
  padding-right: 10px;
}

/**
  Footer Section
 */
.sunset-footer {
  background-color: #333333;
  padding: 20px 0;
  margin-top: 40px;
  display: block;
}

/*# sourceMappingURL=sunset.css.map */
